// Place all the styles related to the rubygems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
BODY {
  > DIV.container.main {
    > SECTION.rubygems {
      > DIV.gems-list-container {
        margin: 25px 0;
        padding: 10px 0 15px;
        background-color: #EFEFEF;
        border: 5px solid #CCC;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;

        > DIV.title {
          > DIV.content.columns {
            > H1 {
              font-size: 4rem;
              margin: 0;
            }
          }
        }
        > DIV.entries {
          > DIV.content.columns {
            font-size: 1.5rem;
          }
        }
        > DIV.gems {
          margin: 10px 0;

          > DIV.content.columns {
            border: 1px solid #888;
            background-color: #FFF;

            > OL {
              list-style-type: none;
              padding: 10px 30px;
              margin: 0;

              > LI.rubygem {
                padding: 10px 0;
                border-bottom: 1px solid #CCC;
                
                > DIV.name-and-details {
                  > DIV.name {
                    
                  }
                  > DIV.details {
                    SPAN.downloads {
                      font-size: 1rem;
                    }
                  }
                }
              }
              > LI.rubygem:last-child {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
